asgiref==3.3.4
autopep8==1.5.7
Django==3.2.3
joblib==1.0.1
numpy==1.20.3
pandas==1.2.4
pickle-mixin==1.0.2
pycodestyle==2.7.0
python-dateutil==2.8.1
pytz==2021.1
scikit-learn==0.24.2
scipy==1.6.3
six==1.16.0
sqlparse==0.4.1
threadpoolctl==2.1.0
toml==0.10.2
waitress==2.0.0
whitenoise==5.2.0
