body {
  font-family: "Varela Round", sans-serif;
  background: #254e58;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #254e58;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}
.form-control {
  box-shadow: none;
  font-weight: normal;
  font-size: 13px;
}
.form-control:focus {
  border-color: #33cabb;
  box-shadow: 0 0 18px rgba(34, 139, 238, 0.3);
}

.navbar {
  background: rgba(232, 243, 234);
  padding-left: 16px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #dfe3e8;
  border-radius: 0;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  padding-left: 10px;
  font-size: 20px;
  padding-right: 5px;
}
#lol {
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 30px;
}

.navbar .navbar-brand b {
  font-weight: bold;
  color: #1c3941;
}
.navbar .form-inline {
  display: inline-block;
}
.navbar .nav li {
  position: relative;
}
.navbar .nav li a {
  color: #888;
}

.navbar .nav .btn-primary,
.navbar .nav .btn-primary:active {
  color: white;
  background: #254e58;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 13px;
  margin-left: 0px;
  vertical-align: middle;
  border: none;
}

.navbar .nav .btn-primary:hover,
.navbar .nav .btn-primary:focus {
  color: #254e58;
  outline: none;
  font-weight: bold;
  background: rgba(232, 243, 234, 0.6);
  border: 1px solid #254e58;
  padding-bottom: 11px;
}
.navbar .navbar-right li:first-child a {
  padding-right: 15px;
}
.navbar .nav-item i {
  font-size: 10px;
}
.navbar .nav-item {
  font-weight: bold;
}

.navbar .dropdown-item i {
  font-size: 16px;
  min-width: 22px;
}
.navbar ul.nav li.active a,
.navbar ul.nav li.open > a {
  background: transparent !important;
}
.navbar .nav .get-started-btn {
  min-width: 120px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar ul.nav li.open > a.get-started-btn {
  color: #fff;
  background: #33cabb;
}
.navbar .dropdown-menu {
  border-radius: 20px;
  border-color: #1de4e4;
  box-shadow: 0 12px 18px rgba(11, 119, 207, 0.5);
}
.navbar .nav .dropdown-menu li {
  color: #254e58;
  font-weight: bold;
}
.navbar .nav .dropdown-menu li a,
.navbar .nav .dropdown-menu li a:hover,
.navbar .nav .dropdown-menu li a:focus {
  padding: 8px 20px;
  line-height: normal;
}
.navbar .navbar-form {
  border: none;
}
.navbar .dropdown-menu.form-wrapper {
  width: 280px;
  padding: 20px;
  left: auto;
  right: 0;
  font-size: 14px;
}
.navbar .dropdown-menu.form-wrapper a {
  color: #33cabb;
  padding: 0 !important;
}
.navbar .dropdown-menu.form-wrapper a:hover {
  text-decoration: underline;
}
.navbar .form-wrapper .hint-text {
  text-align: center;
  margin-bottom: 15px;
  font-size: 13px;
}
.navbar .form-wrapper .btn,
.navbar .form-wrapper .social-btn .btn:hover {
  color: #fff;
  margin: 0;
  padding: 0 !important;
  font-size: 13px;
  border: none;
  transition: all 0.4s;
  text-align: center;
  line-height: 34px;
  width: 47%;
  text-decoration: none;
}
.navbar .btn-primary {
  background: #33cabb;
}
.navbar .btn-primary:hover {
  background: #33cabb;
}
.navbar .btn-info {
  background: #64ccf1;
}

.navbar .form-wrapper .form-footer {
  text-align: center;
  padding-top: 10px;
  font-size: 13px;
}
.navbar .form-wrapper .form-footer a:hover {
  text-decoration: underline;
}
.navbar .form-wrapper .checkbox-inline input {
  margin-top: 3px;
}

#node {
  margin-top: 5px;
  font-size: 16px;
  margin-right: 10px;
  font-weight: bold;
  color: #254e58;
}
#node:hover {
  color: teal;
}

#lll {
  margin-left: 60px;
}
.navbar .checkbox-inline {
  font-size: 13px;
}
.navbar .navbar-right .dropdown-toggle::after {
  display: none;
}

@media (min-width: 1200px) {
  .form-inline .input-group {
    width: 300px;
    margin-left: 30px;
  }
}

.heading {
  color: black;
  font-size: 30px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  white-space: pre-wrap;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #fff;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  box-shadow: 1px 5px 20px 5px rgba(0, 0, 0, 0.4);
}

#myBtn:hover {
  background-color: #33cabb;
  box-shadow: 1px 15px 50px 10px rgba(7, 92, 172, 0.4);
  border-radius: 10px;
}

.footer1 {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(232, 243, 234);
  color: #254e58;
  text-align: center;
  margin-left: 0;
  border-bottom: 1px solid black;
}

.footer1 a:hover {
  text-decoration: none;
  color: teal;
}

.footer2 {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(232, 243, 234, 0.9);
  color: #254e58;
  text-align: center;
  margin-left: 0;
}

.modal {
  display: none;
  position: fixed;
  background-color: rgba(232, 243, 234);
  left: 25%;
  top: 19%;
  width: 50%;
  height: 50%;
  overflow: auto;
  border-radius: 13px;
}

.modal-content {
  background-color: rgba(232, 243, 234);
  border: 0px solid black;
  width: 100%;
  height: 100%;
  /* top: 20px;
	left 50px; */
  overflow: none;
  text-align: center;
  padding: 50px 80px 50px 60px;
}

#modal-wrapper1 {
  display: none;
  position: fixed;
  background-color: rgba(232, 243, 234);
  left: 15%;
  top: 19%;
  width: 70%;
  height: 60%;
  overflow: none;
  border-radius: 15px;
}
#m1 {
  background-color: rgba(232, 243, 234);
  border: 0px solid black;
  width: 100%;
  height: 100%;
  top: 20px;
  justify-content: left;
  overflow: none;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.close {
  position: absolute;
  right: 25px;
  top: 10px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #254e58;
  cursor: pointer;
}

.animate {
  animation: zoom 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media (max-width: 990px) {
  .navbar .dropdown-menu.form-wrapper {
    width: 100%;
    padding: 10px 15px;
    background: transparent;
    border: none;
  }
  .navbar .form-inline {
    display: block;
  }
  .navbar .input-group {
    width: 100%;
  }
  .navbar .nav .btn-primary,
  .navbar .nav .btn-primary:active {
    display: block;
  }
  #lop {
    margin: auto;
  }
  #lll {
    margin: auto;
  }
  .heading {
    color: black;
    font-size: 30px;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    white-space: pre-wrap;
  }
  .card {
    margin-left: 70px;
    margin-right: 70px;
  }
  #sb1 {
    margin: 5px 10px 0px 0px;
    padding-bottom: 8px;
    padding-top: 8px;
  }
}
@media (max-width: 768px) {
  .card {
    margin-left: 90px;
  }
}

@media (max-width: 487px) {
  .card {
    margin-left: 40px;
  }
}

/* register form (profile  form) */

.register {
  background: #254e58;
  margin-top: -10px;
  padding: 2.8%;
  margin-bottom: -10px;
}

.margin-second-form {
  margin-bottom: 15.8%;
}
.register-left {
  text-align: center;
  color: black;
  margin-top: 4%;
}
.register-left input {
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 100%;
  background: black;
  font-weight: bold;
  color: white;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
}
.register-right {
  background: rgb(232, 243, 234);
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.register-left img {
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
.register-left p {
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}
.register .register-form {
  padding: 10%;
  margin-top: 10%;
}
.btnRegister {
  float: right;
  margin-top: 10%;
  border: none;
  padding: 2%;
  background: #254e58;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}

.btnRegister:hover {
  color: #254e58;
  outline: none;
  font-weight: bold;
  background: rgba(232, 243, 234, 0.6);
  border: 1px solid #254e58;
  padding-bottom: 4px;
}

.btnRegister1 {
  float: right;
  margin-top: 10%;
  border: none;
  padding: 2%;
  background: #bfbfbf;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}

.register .nav-tabs {
  margin-top: 3%;
  border: none;
  background: #254e58;

  width: 25.5%;
  float: right;
}
.register .nav-tabs .nav-link {
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
}
.register .nav-tabs .nav-link:hover {
  border: none;
}
.register .nav-tabs .nav-link.active {
  width: 100px;
  color: #254e58;
  border: 1px solid #254e58;
}
.register-heading {
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #254e58;
}

/* for checkboxes */

.checkbox {
  width: 10%;
  margin: 1px auto;
  position: relative;
  display: block;
  margin-left: 10px;
}

.checkbox input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: 0px;
}
.checkbox label {
  position: relative;
}
.checkbox label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 0px;
  width: 15px;
  height: 15px;
  transition: transform 0.28s ease;
  border-radius: 3px;
  border: 2px solid #254e58;
}
.checkbox label:after {
  content: "";
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  -webkit-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  will-change: transform;
  position: absolute;
  top: 5px;
  left: 3.5px;
}
.checkbox input[type="checkbox"]:checked ~ label::before {
  color: black;
}

.checkbox input[type="checkbox"]:checked ~ label::after {
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}

.checkbox label {
  min-height: 34px;
  /* display: block; */
  margin-top: 0px;
  padding-left: 30px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  vertical-align: sub;
}
.checkbox label span {
  position: absolute;
  top: 25%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: 0;
}
