<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Reset Password</title>

	<link rel="shortcut icon" href="" type="image/x-icon">
	<link rel="apple-touch-icon" href="">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Link to your css file -->
	<link rel="stylesheet" href="">
    <style>
        body {
             background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("/images/bgoption1.jpg");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                background-position: center center;
        }
    </style>
</head>

<body>
	<!-- Start coding here -->

	<div class="card" style="width: 30%; margin-left: 35%; margin-right: 35%; margin-top:10%; margin-bottom:10%;" >
		<div class="card-body">
            <div class="form-group">
                <img src="/images/icon/logo.png"  style="margin-left: 30%;" height="52px" width="172px">
            </div>
			<form action='' method="POST">
               <div class="form-group">
                   <input type="password" name="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter password">
               </div>
               <div class="form-group">
                   <input type="password" name="password1" class="form-control" id="exampleInputPassword1" placeholder="Confirm password">
							 </div>
							 <% message.forEach((one)=> { %>
								<div class="sufee-alert alert with-close alert-warning alert-dismissible fade show">
									<span class="badge badge-pill badge-warning">Warning</span>
										<%= one %>
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
							<% }); %>
               <button onclick="return validate()" type="submit" class="btn btn-primary">Submit</button>
           </form>
		</div>
	</div>

	<!-- Coding End -->
	<script>
		function validate() {
			var password = document.getElementsByName('password').value
			var password1 = document.getElementsByName('password1').value
			if(password != password1) {
				window.prompt('both passwords should be same')
				return false
			}
			else {
				return true
			}
		}
	</script>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>