<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Shuvanshu Gupta">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Signup</title>

    <!-- Fontfaces CSS-->
    <link href="/css/font-face.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <!-- popup css -->
    <!-- <link rel="stylesheet" href="popupS.css"> -->

    <!-- Bootstrap CSS-->
    <link href="/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    
    <!--Font CSS-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
    
    <!-- Vendor CSS-->
    <link href="/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/css/theme.css" rel="stylesheet" media="all">
    <style>
        .page-wrapper {
            background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("/images/bgoption1.jpg");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                background-position: center center;
/*            background-color: bisque;*/
        }
        h1,h2 {
          font-weight: 200;
          margin: 0.4em 0;
        }
        h1 {
            color: #888;
            font-size: 3.5em; 
        }
        h2 {
          color: #888;
          font-size: 2em;
        }
    </style>
</head>

<body class="animsition">
    <div class="main-page">
    <div class="page-wrapper" style="height:100vh; width: 100vw; padding: 0;">
        <div style="width: 60%; padding: 3%; float: left; padding-right: 6%;">
            <img src="/images/icon/logo2.png" height="50" width="200">
            <h1>Is it about
              <span
                 class="txt-rotate"
                 data-period="4000"
                 data-rotate='[ "assignments", "classes", "resources", "time table", "forms","placements" ]'></span>?
            </h1>
            <h2>A single website is all you need.</h2>
            <hr>
            <h4 style="font-family: sans-serif; color: #888; font-weight: 20; font-size: 1.5em; line-height: 1.5em;">Hate navigating through Google Classroom for notes, assignments, Or just missed a class because of lazy class representative, or you just hate the way you can download files from Google Classroom, We have got you all covered.</h4>
            <hr>
            <h4 style="font-family: sans-serif; color: #888; font-weight: 20; font-size: 1.5em; line-height: 1.5em;">Salient Features:
            <ul style="margin-left: 3%;">
                <li>Interactive dashboard</li>
                <li>Dynamic Time Table Allocation</li>
                <li>Assigments</li>
                <li>Study Resources</li>
                <li>Essential Forms</li>
                <li>Placement Cell Info</li>
                <li>and many more features...</li>
            </ul>
            </h4>
            <hr>
            <p>Copyright © 2022 Team Gryffindor. All rights reserved.</p>
        </div>
        <div class="login-content" style="border-radius: 10px;  width: 32%; float: right; margin-top: 3.5%; margin-bottom: 8.25%; margin-right: 8%;">
            <div class="login-logo">
                <a href="#">
                    <img src="/images/icon/logo.png" alt="ClassAdmin">
                </a>
            </div>
            <div class="login-form">
                <form action="/user/signup" method="POST" enctype="multipart/form-data">
                  <div class="form-group">
                    <input type="file" class="form-control-file" name="file" id="file" aria-describedby="fileHelpId">
                  </div>
                    <div class="form-group">
                        <input class="au-input au-input--full" type="text" name="name" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                       <select name="branch" class="form-control" id="exampleFormControlSelect1">
                           <option value="CSE">CSE</option>
                           <option value="IT">IT</option>
                           <option value="EE">EE</option>
                           <option value="EC">EC</option>
                           <option value="ME">ME</option>
                           <option value="CE">CE</option>
                           <option value="EI">EI</option>
                           <option value="CHE">CHE</option>
                       </select>
                   </div>
                    <div class="form-group">
                        <input class="au-input au-input--full" type="number" name="semester" placeholder="Enter Semester">
                    </div>
                    <div class="form-group">
                        <input class="au-input au-input--full" type="email" name="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <input class="au-input au-input--full" type="password" name="password" placeholder="Password">
                    </div>

                    <% message.forEach((one)=> { %>
                      <div class="sufee-alert alert with-close alert-warning alert-dismissible fade show">
                        <span class="badge badge-pill badge-warning">Warning</span>
                          <%= one %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    <% }); %>
                    
                    <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">sign up</button>
                    <div class="social-login-content">
                        <p style="text-align: center;">Or sign up with</p>
                        <img src="https://img.icons8.com/color/48/000000/google-logo.png" style="margin-left: 40%; margin-right: 2%;" />
                        <img src="https://img.icons8.com/cute-clipart/50/000000/facebook-new.png"/>
                    </div>
                </form>
                <div class="register-link">
                    <p>
                        Have an account?
                        <a href="/user/signin">Sign In Here</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
    </div>
    <!-- Jquery JS-->
    <script src="/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/vendor/slick/slick.min.js">
    </script>
    <script src="/vendor/wow/wow.min.js"></script>
    <script src="/vendor/animsition/animsition.min.js"></script>
    <script src="/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/vendor/select2/select2.min.js">
    </script>
    <!-- popup js -->
    <!-- <script src="popupS.js"></script> -->
    <!-- Main JS-->
    <script src="/js/main.js"></script>
    <script>
        var TxtRotate = function(el, toRotate, period) {
          this.toRotate = toRotate;
          this.el = el;
          this.loopNum = 0;
          this.period = parseInt(period, 10) || 200;
          this.txt = '';
          this.tick();
          this.isDeleting = false;
        };

        TxtRotate.prototype.tick = function() {
          var i = this.loopNum % this.toRotate.length;
          var fullTxt = this.toRotate[i];

          if (this.isDeleting) {
            this.txt = fullTxt.substring(0, this.txt.length - 1);
          } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
          }

          this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

          var that = this;
          var delta = 300 - Math.random() * 100;

          if (this.isDeleting) { delta /= 2; }

          if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
          } else if (this.isDeleting && this.txt === '') {
            this.isDeleting = false;
            this.loopNum++;
            delta = 500;
          }

          setTimeout(function() {
            that.tick();
          }, delta);
        };

        window.onload = function() {
          var elements = document.getElementsByClassName('txt-rotate');
          for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-rotate');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtRotate(elements[i], JSON.parse(toRotate), period);
            }
          }
          // INJECT CSS
          var css = document.createElement("style");
          css.type = "text/css";
          css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
          document.body.appendChild(css);
        };
    </script>
</body>

</html>
<!-- end document-->