  <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    


    <!-- Bootstrap CSS -->
    

    <title> ML | Heart Disease Prediction</title>
    
    
    	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> ML | Heart Disease Prediction</title>
		
		
		<script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
	
    
  </head>
  
  
  
  <body>
  <div style="margin-left:40%;">
  <div class="ml-container">
    
    <form action="Prediction" method="POST"> 
    {% csrf_token %}
    

      
        <label for="age">Age</label>
        <input type="text" id="age" name="age" placeholder="Your age..">
        <br>
        </br>



        <label for="sex">Sex</label>
        <select id="sex" name="sex">
          <option selected>----select option----</option>
          <option value="1">Male</option>
          <option value="0">Female</option>
        </select>
        <br>
        </br>



        <label for="cp">Chest Pain Type</label>
        <select id="cp" name="cp">
          <option selected>----select option----</option>
          <option value="0">Typical Angina</option>
          <option value="1">Atypical Angina</option>
          <option value="2">Non-anginal Pain</option>
          <option value="3">Asymtomatic</option>
        </select>
        <br>
        </br>



        <label for="trestbps">Resting Blood Pressure</label>
        <input type="text" id="trestbps" name="trestbps" placeholder="A number in range [94-200] mmHg">
        <br>
        </br>



        <label for="chol">Serum Cholesterol</label>
        <input type="text" id="chol" name="chol" placeholder="A number in range [126-564] mg/dl">
        <br>
        </br>



        <label for="fbs">Fasting Blood Sugar</label>
        <select id="fbs" name="fbs">
          <option selected>----select option----</option>
          <option value="1">Greater than 120 mg/dl</option>
          <option value="0">Less than 120 mg/dl</option>
        </select>
        <br>
        </br>



        <label for="restecg">Resting ECG Results</label>
        <select id="restecg" name="restecg">
          <option selected>----select option----</option>
          <option value="0">Normal</option>
          <option value="1">Having ST-T wave abnormality</option>
          
        </select>
        <br>
        </br>



        <label for="thalach">Max Heart Rate </label>
        <input type="text" id="thalach" name="thalach" placeholder="A number in range [71-202] bpm">
        <br>
        </br>


        <label for="exang">Exercise-induced Angina</label>
        <select id="exang" name="exang">
          <option selected>----select option----</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
        <br>
        </br>


        <label for="oldpeak">ST depression</label>
        <input type="text" id="oldpeak" name="oldpeak" placeholder="ST depression, typically in [0-6.2]">
        <br>
        </br>



        <label for="slope">Slope of the peak exercise ST segment</label>
        <select id="slope" name="slope">
          <option selected>----select option----</option>
          <option value="0">Upsloping</option>
          <option value="1">Flat</option>
          <option value="2">Downsloping</option>
        </select>
        <br>
        </br>
        

        <label for="ca">Number of Major vessels</label>
        <input type="text" id="ca" name="ca" placeholder="Typically in [0-4]">
        <br>
        </br>
                          


        <label for="thal">Thalassemia</label> 
        <select id="thal" name="thal">
          <option selected>----select option----</option>
          <option value="0">Normal</option>
          <option value="1">Fixed Defect</option> 
          <option value="2">Reversible Defect</option>  
        </select>
        <br>
        </br>

        <label for="thal">Smoker</label> 
        <select id="thal" name="thal">
          <option selected>----select option----</option>
          <option value="0">Yes</option>
          <option value="1">No</option>   
        </select>
        <br>
        </br>

        <label for="thal">Genetic Inheritance</label> 
        <select id="thal" name="thal">
          <option selected>----select option----</option>
          <option value="0">Yes</option>
          <option value="1">No</option>   
        </select>
        <br>
        </br>

      

      <input type="submit" class="my-cta-button" value="Prediction">
    </form>
  </div>
  </div>
  
    
  
  
  
  
   	







    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"-->
    <!--/script-->

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>